@model IEnumerable<Item>

<h3>Hello from tripcontroller and trip viev!</h3>

<p>
    <label for="textareaForTrip">Name the trip:</label>
    <input type="text" name="TripName" placeholder="Max 100 sign" id="textareaForTrip"
           cols="30" maxlength="100" minlength="2" required>
</p>
    
    <p>
        <h3>Choose your Items for that Trip</h3>
    </p>
    @foreach (var item in Model)
    {
        <div>
            <input type="checkbox" name="ItemsToTrip" value="@item.Id"/>@item.ItemName
        </div>
    }
    </p>
    <p>
        <button onclick="createTripWithItems()">Create Trip</button>
    </p>
    <div>
        
        <label for="tripFromExistingOne">Name the trip:</label>
        <input type="text" id="tripNameFromOld" name="TripName1" placeholder="Max 100 sign"
               cols="30" maxlength="100" minlength="2" required />
        <label for="items">Choose Items from another Trip:</label><br />
        <select id='OldTrip' name="oldTrips">
            @foreach (Trip i in ViewBag.ReadyMadeTrips)
            {
                <option value="@i.Id">@i.TripName</option>
            }

        </select>
        <button onclick="createTripFromExistingOne()"> Create Trip</button>

    </div>

<script>
    let markedItemsNames = []; 
    let tripName;
    let tripNameFromOld;
    let oldTripID;
    function createTripWithItems() {
        getItems();
        getTripName();
        AJAXCallToCreate();
    }
    function getItems() {
        var signedCheckBox = document.getElementsByName('ItemsToTrip');
        for (var checkbox of signedCheckBox) {
            if (checkbox.checked)
                markedItemsNames.push(Number.parseInt(checkbox.value));
            }
       }
    function getTripName() {
       tripName = document.getElementById("textareaForTrip").value;
       }
    function toStringList() { 
        var str ='';
        for (var i = 0; i < markedItemsNames.length; i++) {
            str += '&tripId[' + i + ']=' + markedItemsNames[i];
        }
        return str;
    }
  
    function AJAXCallToCreate() {
       
        var xhttp = new XMLHttpRequest();
        xhttp.open('POST', '/trip/createtrip/?name=' + tripName + toStringList());
        xhttp.send(); 
        alert("Your trip was succesfully created");
        window.location.href = "/trip/index";
    }

    function createTripFromExistingOne() {
        tripNameFromOld = document.getElementById("tripNameFromOld").value;
        oldTripID = document.getElementById("OldTrip").value;
        alert(tripNameFromOld);
        alert(oldTripID);
        AJAXCalltoAddItem(tripNameFromOld, oldTripID);
    }
    function AJAXCalltoAddItem(tripNameFromOld, oldTripID) {
        var xhttp = new XMLHttpRequest();
        xhttp.open('POST', '/trip/createtripfromexistingone?tripNameFromOld=' + tripNameFromOld + '&oldTripID=' + oldTripID, false);
        xhttp.send();
        window.location.href = "/trip/index";
    }
</script>