@model IEnumerable<Item>

<link href="~/css/StyleSheet1.css" rel="stylesheet" />

<div class="parts">
    <div class="favoriteLabel"><h2>Create trip by choosing items</h2></div>
    <p>
       <h5 class="favoriteLabel">Name the trip:</h5>
        <input type="text" class="inputtext" name="TripName" placeholder="Max 100 sign" id="textareaForTrip"
               cols="30" maxlength="100" minlength="2" required>
    </p>
     
    <p>
        <h6 class="favoriteLabel">Choose your Items for that Trip</h6>
    </p>
    @foreach (var item in Model)
    {
        <div>
            <input type="checkbox" name="ItemsToTrip" value="@item.Id" />@item.ItemName
        </div>
    }
    </p>
    <p>
        <button class="smallbutton" onclick="createTripWithItems()">Create Trip</button>
    </p>
</div>
<div class="parts margins">
    <div>
        <div class="favoriteLabel"><h2>Create trip from existing trip</h2></div>
        <label  for="tripFromExistingOne"><h5 class="favoriteLabel">Name the trip:</h5class="favoriteLabel"></label>
    </div>
        <div class="margins">
            <input type="text" class="inputtext" id="tripNameFromOld" name="TripName1" placeholder="Max 100 sign"
                   cols="30" maxlength="100" minlength="2" required />
        </div>
        <div class="margins favoriteLabel"><label for="items">Choose Items from another Trip:</label></div>
        <div class="margins">
            <select id='OldTrip' name="oldTrips">
                @foreach (Trip i in ViewBag.ReadyMadeTrips)
                {
                    <option value="@i.Id">@i.TripName</option>
                }

            </select>
        </div>
        <div > <button class="smallbutton" onclick="createTripFromExistingOne()"> Create Trip</button></div>
</div>

<script>
    let markedItemsNames = [];
    let tripName;
    let tripNameFromOld;
    let oldTripID;
    function createTripWithItems() {
        getItems();
        getTripName();
        AJAXCallToCreate();
    }
    function getItems() {
        var signedCheckBox = document.getElementsByName('ItemsToTrip');
        for (var checkbox of signedCheckBox) {
            if (checkbox.checked)
                markedItemsNames.push(Number.parseInt(checkbox.value));
        }
    }
    function getTripName() {
        tripName = document.getElementById("textareaForTrip").value;
    }
    function toStringList() {
        var str = '';
        for (var i = 0; i < markedItemsNames.length; i++) {
            str += '&tripId[' + i + ']=' + markedItemsNames[i];
        }
        return str;
    }

    function AJAXCallToCreate() {

        var xhttp = new XMLHttpRequest();
        xhttp.open('POST', '/trip/createtrip/?name=' + tripName + toStringList());
        xhttp.send();
        alert("Your trip was succesfully created");
        window.location.href = "/trip/index";
    }

    function createTripFromExistingOne() {
        tripNameFromOld = document.getElementById("tripNameFromOld").value;
        oldTripID = document.getElementById("OldTrip").value;
        AJAXCalltoAddItem(tripNameFromOld, oldTripID);
    }
    function AJAXCalltoAddItem(tripNameFromOld, oldTripID) {
        var xhttp = new XMLHttpRequest();
        xhttp.open('POST', '/trip/createtripfromexistingone?tripNameFromOld=' + tripNameFromOld + '&oldTripID=' + oldTripID, false);
        xhttp.send();
        window.location.href = "/trip/index";
    }
</script>