@model List<Trip>;

<div>
    <h3>
        Your Trips:
    </h3>
    @foreach (var t in Model)
    {
        <div>
            <h2>
                @t.TripName
            </h2>
           
                @foreach (var i in t.ItemsToTrip)
                {
                    <div>
                        @i.Item.ItemName
                    </div>
                }
            <div>
                <form method="get" action="/trip/editdelete/@t.Id">
                    <input type="submit" value ="Edit or Delete"/>
                </form>
            </div>
            
        </div>
    }

</div>

<h3>Hello Eleks from Trip</h3>
<script>
    function editDeleteTrip(x) {
        var xhttp = new XMLHttpRequest();
        xhttp.open('GET', '/trip/edit/' + x, false);
        xhttp.send();
        var status = xhttp.status;
        if (status == 200)
        {
            window.location.href = "/trip/edit";
        }
        //window.location.reload();
    }
</script>
