@model List<Trip>;

<div>
    <h3>
        Your Trips:
    </h3>
    @foreach (var t in Model)
    {
        <div>
            <h2>
                @t.TripName
            </h2>
            <h4>
                @foreach (var i in t.ItemsToTrip)
                {
                    <div>
                        @i.Item.ItemName
                    </div>
                }
                <div>
                    <button onclick="editDeleteTrip(@t)"> Edit or Delete</button>
                </div>
            </h4>
        </div>
    }

</div>

<h3>Hello Eleks from Trip</h3>
<script>
    function editDeleteTrip() {

    }

</script>
