@model List<Trip>;
    <link href="~/css/StyleSheet1.css" rel="stylesheet" />
<div>
    
    <div class="favoriteLabel"> Your Trips:</div>
    
    @foreach (var t in Model)
    {
        <div style="margin:10px">
            <div class="favoriteLabel" style="font-size:15px">
                @t.TripName
            </div>
           
                @foreach (var i in t.ItemsToTrip)
                {
                    <div class="favorite-item" >
                        @i.Item.ItemName
                    </div>
                }
            <div>
                <form method="get" action="/trip/editdelete/@t.Id">
                    <input class="smallbutton" type="submit" value ="Edit or Delete" style="margin:3px"/>
                </form>
            </div>
            
        </div>
    }

</div>

<script>
    function editDeleteTrip(x) {
        var xhttp = new XMLHttpRequest();
        xhttp.open('GET', '/trip/edit/' + x, false);
        xhttp.send();
        var status = xhttp.status;
        if (status == 200)
        {
            window.location.href = "/trip/edit";
        }
        //window.location.reload();
    }
</script>
