


<div>
    <form method="post" action="/item/createitem">
        <p>
            <label for="ItemName">Enter Name of your Item</label>
            <textarea name="ItemName" placeholder="Max 100 sign"
                      cols="30" rows="4" maxlength="100" minlength="2" required>
            </textarea>
        </p>

        <p>
            <input type="submit" value="Add" />
        </p>
    </form>
</div>
