

<link href="~/css/StyleSheet1.css" rel="stylesheet" />
<div>
    <form method="post" action="/item/createitem">
        <p>
            <label for="ItemName" class="favoriteLabel">Enter Name of your Item</label>
            <input type="text" class="inputtext" name="ItemName" placeholder="Max 100 sign"
                      maxlength="100" minlength="2" required>
            </input>
        </p>

        <p>
            <input class="smallbutton" type="submit" value="Add" />
        </p>
    </form>
</div>
