@model Item
    <link href="~/css/StyleSheet1.css" rel="stylesheet" />

<div class="favoriteLabel">Item @Model.ItemName was successfully created</div>
<div><a class="smallbutton" href="/item/index">Look at all Items</a></div>
<div><a class="smallbutton" href="/trip/createtrip">Create your trip</a></div>
