@model IEnumerable<Item>;

<div>
    <h3>
        Your Items:
    </h3>
    @foreach (var i in Model)
    {
        <div>
            <h4>
                @i.ItemName
                <button type="submit" formmethod="post">
                    <a asp-action="Delete" asp-controller="Home" 
                       asp-route-id="@i.Id">Удалить</a>
                    <a href="/item/delete/@i">Delete</a>
                </button>
                
            
            
            </h4>
        </div>
    }

</div>
