@model IEnumerable<Item>;
<link href="~/css/StyleSheet1.css" rel="stylesheet" />
<div>
    <div class="favoriteLabel">
        Your Items:
    </div>
    @foreach (var i in Model)
    {
    <div class="favorite-item">
        <div class="favorite-item">
             @i.ItemName
        </div>
        <div>
            <button class="smallbutton"  onclick="deleteItem(@i.Id)"> Delete</button>
        </div>
    </div>
     }

</div>
<script>
    function deleteItem(x) {
        var xhttp = new XMLHttpRequest();
        xhttp.open('POST', '/item/delete/' + x, false);
        xhttp.send();
        window.location.reload();
    }



</script>
