@model IEnumerable<Item>;

<div>
    <h3>
        Your Items:
    </h3>
    @foreach (var i in Model)
    {
        <div>
            <h4>
                @i.ItemName
                <div>
                    <button onclick="deleteItem(@i.Id)"> Delete</button>
                </div>
            </h4>
        </div>
    }

</div>
<script>
    function deleteItem(x) {
        alert(x);
        var xhttp = new XMLHttpRequest();
        xhttp.open('POST', '/item/delete/'+x, false);
        xhttp.send();
        window.location.reload();
        }

</script>
